// Primary Color
$primary-color: #9ea0a5;
$primary-color-2: #212529;
$primary-color-3: #3a3b3f;
$primary-color-4: #f9fafb;
$primary-color-5: #1665D8;
$primary-color-6: #66788a;
$primary-color-7: #F2F2F2;
$primary-color-8: #e4e7eb;
$primary-color-9: #425a70;
$primary-color-10: #F9FAFC;
$secondary-color-1: #3F51B5;
$secondary-color-2: #ec4c47;
$secondary-color-3: #47b881;
$secondary-color-4: #bf0e08;
$secondary-color-5: #1070ca;
$secondary-color-6: #f7d154;
$secondary-color-7: #dfe3e8;
$secondary-color-8: #616161;
$secondary-color-9: #6b6c6f;


$white-color: #ffffff;
$black-color: #000000;

// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1288px;

//Font sizes
$size: 12px;
$size-0: 14px;
$size-1: 16px;
$size-2: 18px;
$size-3: 20px;
$size-4: 24px;

// Font Names
$primary-font: "Roboto";
// $secondary-font: "Montserrat";

//Font Family
$primary-regular: $primary-font + " Regular";
$primary-medium: $primary-font + " Medium";
$primary-light: $primary-font + " Light";
$primary-bold: $primary-font + " Bold";

// $secondary-regular: $secondary-font + " Regular";

//Font Path
$primary-regular-path: "../fonts/" + $primary-font + "/" + $primary-font + "-Regular.ttf";
$primary-medium-path: "../fonts/" + $primary-font + "/" + $primary-font + "-Medium.ttf";
$primary-light-path: "../fonts/" + $primary-font + "/" + $primary-font + "-Light.ttf";
$primary-bold-path: "../fonts/" + $primary-font + "/" + $primary-font + "-Bold.ttf";

// $secondary-regular-path: "../fonts/" + $secondary-font + "/" + $secondary-font + "-Regular.ttf";

// Transition
$duration-1: 300ms; // duration
$timing-1: ease-in-out; //timing function
