.btn {
	background-color: $primary-color-5;
	border: 1px solid $primary-color-5;
	color: $white-color !important;
	padding: 12px 0px;
	max-height: 62px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
	// ondulation
	@include ripple-effect;

	&.outline {
		background-color: transparent;
		color: $primary-color-5 !important;
		border-color: $primary-color-5;
		&:hover {
			color: $white-color !important;
			background-color: $primary-color-5;
			border-color: $primary-color-5;
		}
	}

	&:hover {
		background-color: $primary-color-5;
		border-color: $primary-color-5;
		color: $white-color !important;
	}

	@include for-size(sm-down) {
	}
}
