// Inputs & Placeholders Style
input,
textarea {
	border: none;
	background-color: rgba(231, 231, 231, 0.51);
	padding: 11px 17px;
	outline-color: $secondary-color;
}
input[type="radio"] {
	margin-right: 10px;
}

form {
	h3 {
		margin-bottom: 15px;
	}
}
@include input-placeholder {
	opacity: 0.2;
}
