/*=== Import Fonts ===*/
@include font-face($primary-regular, $primary-regular-path);
@include font-face($primary-medium, $primary-medium-path);
@include font-face($primary-light, $primary-light-path);
@include font-face($primary-bold, $primary-bold-path);

// @include font-face($secondary-regular, $secondary-regular-path);

/*=== Typography Styling ===*/
body {
	font-family: $primary-regular;
	font-size: $size-1;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: normal;
	
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	text-align: left;
}

h1 {
	font-family:$primary-medium;
	font-size: $size-4;
	line-height: 1.17;
	letter-spacing: -0.06px;
	@include for-size(md-down) {
		font-size: $size-3;
	}
}

h2 {
	font-family:$primary-medium;
	font-size: $size-3;
	line-height: 1.2;
	letter-spacing: -0.06px;
	@include for-size(lg-down) {
	}
}
h3 {
	font-family:$primary-medium;
	font-size: $size-2;
	line-height: 1.11;
	letter-spacing: -0.05px;
	@include for-size(lg-down) {
	}
}
h4 {
	font-size: $size-1;
	line-height: 1.25;
  	letter-spacing: -0.05px;
	@include for-size(lg-down) {
	}
}
h5, a {
	font-size: $size-0;
	line-height: 1.43;
  	letter-spacing: -0.05px;
	@include for-size(md-down) {
		font-size: $size;
	}

}
h6, label {
	font-size: $size;
	letter-spacing: normal;
	@include for-size(md-down) {
	
	}
}

p {
	font-family: $primary-regular;
	font-size: $size-1;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.56;
	letter-spacing: -0.06px;
	text-align: left;
	color: $white-color;
	@include for-size(md-down) {
		font-size: $size;
	}
}

input
{
	font-family: $primary-regular;
	font-size: $size-1;
	@include for-size(md-down) {
		font-size: $size-0;
	}
}

button,
input[type="submit"],
a.btn {
	font-size: $size-1;
	font-family: $primary-medium;
	font-weight: 500;

	@include for-size(sm-down) {
		font-size: $size-0;
	}
}
