.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $secondary-color-1;
    height: 64px;
    padding: 14px 0px 14px 24px;
    // .navbar-toggler {
    //     //  border-color: rgb(255,102,203);
    //       .navbar-toggler-icon {
    //             background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    //     }
    //  } 
    .openbtn {
        font-size: 20px;
        background-color: $secondary-color-1;
        color: white;
        padding: 10px 15px;
        border: none;
        visibility: hidden;
        @include for-size (xxl-down) {
            visibility: visible;
        }
        @include ripple-effect;
      }
     
    .navbar-brand {
        // text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        h2 {
            color: $white-color;
            padding-left: 22px;
            margin-bottom: 0;
        }
    }
   .nav-icons {
        position: absolute;
        right:3%;
        @include for-size (xxl-down){
            right:30%;
        }
        #exit-icon {
            padding-left: 22px;
        }
   } 
}