.setting-container {
    background-color: $primary-color-7;
    #setting {
        padding-top: 50px;
       
    }
    #menu {
        background-color: $white-color;
        padding-top: 24px ;
        padding-left: 34px;
        padding-right: 24px;
        border: 1px solid rgba(63, 63, 68, 0.005);
        box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
        z-index: 1;
       
        .profil-img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 24px ;
            border-bottom: 1px solid $primary-color-8;
            
            img {
                padding-bottom: 16px;
            }
            h4 {
                color: $primary-color-3;
            }
            h6 {
                color: $primary-color;
            }
        }
        nav {
            padding-top: 24px;
            a {
                padding-bottom: 37px;
                padding-left : 24px;
            }
            h5 {
                display: inline;
                padding-left: 10px;
                color: $primary-color-6;
            }
            .support {
                padding-top: 137px;
                border-top: 1px solid $primary-color-8;
                h6 {
                    padding-left: 20px;
                    color: rgba(0,0,0,0.33);
                }
            }

        }
       

    }
    .profil {
        padding-top: 23px;
        .upload-pic {
            background-color: $white-color;
            padding: 24px;
            border-radius: 4px;
            box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 1px 0 0 rgba(63, 63, 68, 0.05);
            border: solid 1px rgba(63, 63, 68, 0);
            z-index: 1;
            // height
            // height: 300px;

            .title-pic {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding-bottom: 24px;
                border-bottom: 1px solid $primary-color-8;
                .title {
                    h1 {
                        color: $primary-color-2;
                        padding-bottom: 5px;
                    }
                    h5 {
                        color: $primary-color;
                        font-family: $primary-regular;
                    } 
                }
               
            }
            .upload-remove {
                padding-top: 16px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                label {
                    font-family: $primary-regular;
                    &.btn {
                        padding: 8px 5px;
                    }
                    &.remove-pic.btn {
                        
                        &.outline {
                            background-color: transparent;
                            color: $primary-color-9 !important;
                            border-color: $primary-color-9;
                            &:hover {
                                background-color: $primary-color-9 !important;
                                color: $white-color !important;
                                border-color: $primary-color-9 !important;
                            }
                        }
                    }
                }
            }
        }
    }
    // .basic-profil {
    //     background-color: white;
    //     .b-header {
    //         display: flex;
    //         flex-direction: row;
    //         justify-content: space-between;
    //     }
    //     .my_form {
    //         display: flex;
    //         flex-direction: row;
    //     }
    // }
    // .notifications {
    //     background-color: white;
    
    //     .n-header {
    //         display: flex;
    //         flex-direction: row;
    //         justify-content: space-between;
    //     }
    //     .notif-msg {
    //         display: flex;
    //         flex-direction: row;
    //     }
    // }
    
}



