// .navbar-collapse {
//     display:block !important;
// }
// @include for-size(xl-down) {
//     .collapse:not(.show) {
//         display: none;
//     }
// }

aside {
    left: 0px;
    // visibility: visible;
    position: fixed;
    width: 300px;
    background-color: $white-color;
    margin-top: 64px;
    padding: 24px 16px 0;
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
    z-index: 1031;
    height: 100%;
    overflow: auto;
    transition: left $duration-1 $timing-1;
    .profil-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 24px ;
        border-bottom: 1px solid $primary-color-8;
        
        img {
            padding-bottom: 16px;
            cursor: pointer;
        }
        h4 {
            color: $primary-color-3;
        }
        h6 {
            color: $primary-color;
        }
    }
    // .closebtn {
    //     position: absolute;
    //     top: 0;
    //     right: 25px;
    //     font-size: 36px;
    //   }
    nav {
        padding-top: 24px;
        a {
            padding: 13px 0px 13px 18px;
            margin-bottom: 24px;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                rect {fill: $secondary-color-1;}
            }
            &:focus:not(.support)  {
                background-color: $secondary-color-10;
                border-radius: 4px;
                box-shadow: inset 3px 0 0 0 $primary-color-5;
                rect {fill: $secondary-color-1;}
            }

        }
        h5 {
            display: inline;
            padding-left: 10px;
            color: $primary-color-6;
        }
        .support {
            margin-top: 137px;
            border-top: 1px solid $primary-color-8;
            h6 {
                padding: 24px 0 8px 21px;
                color: rgba(0,0,0,0.33);
            }
        }
    }
    @include for-size (xxl-down) {
        left: -1000px;
        // visibility: hidden;
        transition: left 2ms $timing-1;
    }
    @include for-size (xxl-up) {
        margin-top: 64px !important;
        left: 0px !important;
        transition: left 2ms $timing-1 !important;
    }
   
}

