.ui-container {
    position: relative;
    background-color: $primary-color-7;
    .cards-container {
        margin-left: 300px;
        padding-left: 24px;
        padding-top: 88px;
        margin-right: 24px;
        position: relative;
        @include flex (space-between, stretch);
        @include for-size(xl-down) {
            flex-wrap: wrap;
            margin-left: 0px;
        }
        .my-card {
            @include bg-card (20px, 24px, 24px, 24px);
            margin-right: 31px;
            width: 25%;
            @include for-size(xl-down) {
                width: 49%;
                margin-bottom: 24px;
                margin-right: 0;
            }
            @include for-size(sm-down) {
                width: 100%;
            }
            .card-up {
                background-color: $white-color;
                @include flex (space-between, stretch);
            }
            h6 {
                font-family: $primary-bold;
                color: $primary-color-6;
                margin-bottom: 8px;
            }
            h1 {
                color: $primary-color-2;
            }
            .card3-rect {
                position: relative;
                width:100%;
                height: 4px;
                margin: 30px 8px 0 0;
                padding: 0 204px 0 0;
                border-radius: 3px;
                background-color: $primary-color-8;
                .card3-rect-small {
                    position: absolute;
                    width: 38%;
                    height: 100%;
                    border-radius: 3px;
                    background-color: $primary-color-5;
                }
            }
            .group {
                display: flex;
                margin: 24px 8px 0 0;
                svg {margin: 5px 8px 0 0;}
                h6 {
                    margin-right: 8px;
                    font-family: $primary-regular;
                    color: $primary-color-6;
                }
                .prc1 {
                    color: $secondary-color-3;
                    font-family: $primary-medium;
                }
                .prc2 {color: $secondary-color-4;}
            }
            .oval {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                padding: 19px 18px 19px 17px;
               
            }
            .oval1 { background-color: $secondary-color-2;}
            .oval2 { background-color: $secondary-color-3;}
            .oval3 { background-color: $secondary-color-5;}
        }
        .card4 {
            background-color: $secondary-color-1;
            margin-right: 0px;
            h1 {color: $white-color;}
            h6 {color: $white-color;}
            .card-up {background-color: $secondary-color-1;}
            .group {
                h6 {color: $white-color;}
            }
        }
    }
    .peplines-container {
        margin: 46px 24px 0 300px;
        padding-left: 24px;
        padding-top: 0px;
        position: relative;
        @include flex (space-between, stretch);
        flex-wrap: wrap;
        @include for-size(xl-down) {
            margin-left: 0px;
        }
        .all-peplines {
            width: 75%;
            @include bg-card (16px, 27px, 22px, 24px);
            @include for-size (xl-down) {
                width: 100%;
            }
            table {thead{th{border-bottom: none;border-top: none;}}} 
            .header-table {
                @include flex (space-between, center);
                margin-bottom: 34px;
            } 
            h4 {
                margin-right: 50px;
                font-family: $primary-medium;
                font-size: $size-1;
                color: $primary-color-3;
                display: inline-block ;
            }
            h6 {
                font-family: $primary-regular;
                font-size: $size;
                color: $primary-color;
                display: inline-block;
               
            }
            h5 {display: inline-block;}
            .sort-by{
                font-family: $primary-medium;
                color: $primary-color-3;
                margin-right: 15px;
            }
            svg {
                margin-right: 31px;
            }
            button {
                padding: 0 18px 0;
                height: 36px;
                border: solid 1px #d4e6ff;
            }
            tr {
                h5 {
                   font-family: $primary-regular;
                   color: $primary-color-3;
                }
                .pip-name {font-family: $primary-medium;}
                .pip-date {color: $primary-color;}
                .status {color: $primary-color;}
                svg {
                    margin: 6px 8px 6px 0;
                }
            }
        }
        .card-colored {
            width: 22%;
            @include bg-card (18px, 21px, 10px, 24px);
            @include for-size (xl-down) {
                width: 50%;
            }
            @include for-size (lg-down) {
                width: 100%;
            }
        }
        // .c1 {
        //     width: 22%;
        //     @include for-size (xl-down) {
        //         width: 50%;
        //     }
        //     @include for-size (lg-down) {
        //         width: 100%;
        //     }
        // }
        // .c2 {
        //     width: 75%;
        //     @include for-size (xl-down) {
        //         width: 100%;
        //     }
        //     @include for-size (lg-down) {
        //         width: 100%;
        //     }
        // }
    }
}


    