.ui-container {
    position: relative;
    background-color: $primary-color-10;
    .cards-container {
        margin-left: 300px;
        padding-left: 24px;
        padding-top: 88px;
        margin-right: 24px;
        position: relative;
        @include flex (space-between, stretch);
        @include for-size(xxl-down) {
            flex-wrap: wrap;
            margin-left: 0px;
        }
        .my-card {
            @include bg-card (20px, 24px, 24px, 24px);
            margin-right: 31px;
            width: 25%;
            @include for-size(xxl-down) {
                width: 49%;
                margin-bottom: 24px;
                margin-right: 0;
            }
            @include for-size(sm-down) {
                width: 100%;
            }
            .card-up {
                background-color: $white-color;
                @include flex (space-between, stretch);
            }
            h6 {
                font-family: $primary-bold;
                color: $primary-color-6;
                margin-bottom: 8px;
            }
            h1 {
                color: $primary-color-2;
            }
            .card3-rect {
                position: relative;
                width:100%;
                height: 4px;
                margin: 30px 8px 0 0;
                padding: 0 204px 0 0;
                border-radius: 3px;
                background-color: $primary-color-8;
                .card3-rect-small {
                    position: absolute;
                    width: 38%;
                    height: 100%;
                    border-radius: 3px;
                    background-color: $primary-color-5;
                }
            }
            .group {
                display: flex;
                margin: 24px 8px 0 0;
                svg {margin: 5px 8px 0 0;}
                h6 {
                    margin-right: 8px;
                    font-family: $primary-regular;
                    color: $primary-color-6;
                }
                .prc1 {
                    color: $secondary-color-3;
                    font-family: $primary-medium;
                }
                .prc2 {color: $secondary-color-4;}
            }
            .oval {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                padding: 19px 18px 19px 17px;
               
            }
            .oval1 { background-color: $secondary-color-2;}
            .oval2 { background-color: $secondary-color-3;}
            .oval3 { background-color: $secondary-color-5;}
        }
        .card4 {
            background-color: $secondary-color-1;
            margin-right: 0px;
            h1 {color: $white-color;}
            h6 {color: $white-color;}
            .card-up {background-color: $secondary-color-1;}
            .group {
                h6 {color: $white-color;}
            }
        }
    }
    .peplines-container {
        margin: 24px 24px 0 300px;
        padding-left: 24px;
        padding-top: 0px;
        position: relative;
        @include flex (space-between, stretch);
        flex-wrap: wrap;
        @include for-size(xxl-down) {
            margin-left: 0px;
        }
        .colored-card {
            width: 22%;
            @include bg-card (18px, 21px, 10px, 24px);
            @include for-size (xxl-down) {
                width: 49%;
                margin-top: 29px;
            }
            @include for-size (lg-down) {
                width: 100%;
            }
            .card-c-header {
                @include flex (space-between, stretch);
                padding-bottom: 18px;
                border-bottom: 1px solid $primary-color-8;
                background-color: $white-color;
                h4 {
                    display: inline-block;
                    color: $primary-color-3;
                    font-family: $primary-medium;
                    margin-right: 84px;

                }
                button {background-color: transparent;}
            }
            .card-c-body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .colored-circle {
                margin-top: 25px;
                margin-bottom: 28px;
                width: 244px;
                height: 244px;
                border-radius: 50%;
                border: 17px solid transparent;
                background-size: 100% 100%, 40% 40%, 70% 100%, 100% 100%;
                background-repeat: no-repeat;
                background-image: linear-gradient(white, white), 
                                    linear-gradient($secondary-color-6 100%, lightgrey 30%),
                                    linear-gradient( $secondary-color-5 100%, lightgrey 30%),
                                    linear-gradient($secondary-color-2 100%, lightgrey 30%);
                                    // linear-gradient(210deg, green 100%, lightgrey 30%);
                background-position: center center, left top, top right, left bottom;
                background-origin: content-box, border-box, border-box, border-box;
                background-clip: content-box, border-box, border-box, border-box;
                transform: rotate(5deg);
                @media screen and (min-width: 1288px) and (max-width: 1540px) { 
                    width: 190px;
                    height: 190px;
                }
            }
            .all-desktop {
                @include flex (space-between, stretch);
               
                .card-c-desc { margin-right: 23px; }
                .health {
                   
                    h1 {color: $secondary-color-5;}
                }
                .IMD {
                   
                    h1 {color: $secondary-color-6;}
                }
                .others {h1{color: $secondary-color-2;}}
                svg {margin-bottom: 9px;}
                h6{
                    
                    margin-bottom: 8px;
                }
                h1 { font-size: 29px; }
                margin-bottom: 65px;
                @media screen and (min-width: 1288px) and (max-width: 1540px) { 
                    h1 { font-size:24px; }
                    .card-c-desc { margin-right: 10px; }
                }
            }
            .card-c-footer {
                @include flex (space-between, stretch);
                padding-top: 10px;
                border-top: 1px solid $primary-color-8;
                .card-c-f {
                    display: flex;
                }
                @media screen and (min-width: 1288px) and (max-width: 1540px) { 
                        flex-wrap: wrap;
                }
                .top-users {color: $secondary-color-5;}
                h5 {
                    color: $primary-color-3;
                    font-family: $primary-medium;
                    margin-right: 9px;
                }
                svg {margin-top: 6px;}
            }
        }
        .all-pep-card {
            width: 22%;
            margin-top: 29px;
            @include bg-card (24px, 24px, 24px, 24px);
            .pep-header {
                margin-bottom: 34px;
                h4 {
                    font-family: $primary-medium;
                    color: $primary-color-3;
                    margin-right: 39px;
                    display: inline-block;
                }
                h6 {
                    font-family: $primary-regular;
                    display: inline-block;
                }
            }
            .pep {
                @include flex(space-between, center);
                svg {margin-right: 35px;}
                .pep-img-tit {
                    @include flex (center, center);
                }
                .pep-title {
                    display: inline-block;
                    h4 {
                        color: $primary-color-3;
                        font-family: $primary-medium;
                        margin-bottom: 4px;
                    }
                }
                button {
                    height: 30px;
                    padding: 0;
                    width: 5px;
                    border: none;
                    background-color: transparent;
                    margin-right: 10px;
                }
                padding-bottom: 32px;
                margin-top: 27px;
                border-bottom: 1px solid $primary-color-8;
             }
            .all-pip-card-f {
                 @include flex (flex-end, center);
                 margin-top: 10px;
                 h5 {
                    font-family: $primary-medium;
                    color: $secondary-color-5;
                    margin-right: 9.9px;
                }
            }
            @include for-size (xxl-down) {
                width: 49%;
            }
            @include for-size (lg-down) {
                width: 100%;
            }
        }
    }
    // .all-peplines2 {
    //     padding-bottom: 24px;
    //     border-bottom: 1px solid $secondary-color-7;
    // }
    .pep-footer {
       
        margin: 24px 24px 54px 300px;
        padding-left: 24px;
        
        @include for-size(xxl-down) {
            margin-left: 0px;
        }
        h5 {
            color: $secondary-color-8;
            margin-bottom: 4px;
            padding-top: 16px;
            border-top: 1px solid $secondary-color-7;
        }
        h6 {color: $secondary-color-8}
     }
}



    